.app {
    width: 100%;
    height: 100%;

    /* background-color: #ff90f8; */
}


/* ------- BUTTONS ------- */

.btn-pink {
    background-color: rgb(120,76,192);
    color: white;
    border: 0px;

    border-radius: 5px;
    transition: all 0.2s ease;
}

.btn-pink:hover{
    background-color: rgb(230,159,236);
}

.btn-orange {
    background-color: white;
    border: 2px solid rgb(242,131,138);
    color: rgb(242,131,138);

    border-radius: 5px;
    transition: all 0.2s ease;
}

.btn-orange:hover {
    background-color: rgb(242,131,138);
    color: white;
}

/* ------- TEXT ------- */

/* .txt-grey {
    color: 	rgb(38,13,79);
} */

.txt-pink {
    color: #F55FB3;
}