.book-card {
    max-width: 250px;
    min-height: 200px;
    margin: 0% 1% 0% 1%;
    flex: 1 0 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.book-card__cover {
    max-width: 150px;
    height: 200px;

    object-fit: cover;
}

.book-card__info {
    width: 80%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.book-card__text {
    margin: 0px;
}

.book-card__actions {
    /* height: 10%;
    width: 90%; */


    display: grid;
    grid-template-columns: 80% 20%;
    /* gap: 5px */
}