.header {
    margin: 25px;
    height: 85px;
    

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    align-items: center;
}

.header h1 {
    margin: 15px;
}

.text_input {
    padding: 2px;
}

.header input {
    border: 0px;
    
    width: 55%;
    height: 45px;
    border-radius: 30px;
    margin: 5px;
}


.header-button {
    background-color: rgb(231,210,242);
    
    color: rgb(38,13,79);
    font-weight: 600;
    /* font-size:medium; */
    border: 0px;
    
    width: 15%;
    height: 45px;
    border-radius: 30px; 
    margin: 5px;
}

.header-btn-login {
    background-color: rgb(38,13,79);

    color: #FFFFFF;
    border: 0px;
}